/*soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    background-image: url("../img/blackbackground.jpeg"); 
    background-size: auto 100vh;
    font-family: 'Special Elite', cursive;
    height: 100vh;
    font-size: 12px;
}

.audio{  
   
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

/*se a tela tiver pelo menos 400px vai carregar esses estilos*/
@media (min-width: 400px){
    body {
        font-size: 14px;
    }
}

@media(min-width: 600px){
    body {
        background-attachment: fixed;
        background-size: cover;
        font-size: 18px;
    }
}

@media(min-width:1200px){
    body{
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu {
background-color: white;
position: fixed;
width: 100vw;
top: 0;
z-index: 1;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;   
    transition: 2s;
}

.menu a:active,
.menu a:hover {
    background-color: teal;
    color:white;
}
 
a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title,
.site-subtitle {
    color: white;
    text-align: center;
}

.site-title{
    font-size: 3em;
    font-family: 'Special Elite', cursive;
}


.site-subtitle,
.site-title::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.site-subtitle {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
}

.figcaption{
    color: white;
}

.text {
    text-align: justify;
    line-height: 40px;
    width: 100%;
    
}
.sobre h2 {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.sobre p{
    color: white;
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    box-sizing: border-box 14px;
    text-align: justify;    
}

.sobre a{
    color: white;
    text-decoration: underline;
}


.sobre .avatar{
    float: left;
    margin-right: 2em;
    border-radius: 50%;
    clip-path: circle(70.7% at 50% 50%); /*https://bennettfeely.com/clippy/ */ 
}

.sobre li {
    color: white;
    text-indent: 2em;
    font-family: 'Roboto', sans-serif;
}

.aprender,
.sobre,
.contato,
.portfolio{
    padding: 2em;
    min-height: 80vh;   
}

@media (win-width:1200px){
    .container {            
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

.sobre h2,
.contato h2,
.portfolio h2{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 1.5em;
    font-size: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.portfolio .grid {

    display:grid;
    gap: 3em;
}

@media(min-width: 560px){
    .portfolio .grid {
        display:grid;
        grid-template-columns: 240px 240px ;
    }
}

@media(min-width: 880px){
    .portfolio .grid {
        grid-template-columns: repeat(3, 260px);
        grid-template-rows: repeat(3, 260px);
        align-content: center;
        justify-content: center;
        
       /* height: calc(100vh - 8em - 48px); */
    }
}

.portfolio figure {
    text-align: center;

}

.img-portfolio {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-fit:left bottom;
    border-radius: 3px;
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.2) rotate(-2deg);
}

.aprender{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 2em;
    min-height: 80vh;   
}

.empresas {
    color: white;
}
.contato .icons {
    text-align:center;

}
.contato a {
    color: white;
    font-size: 4em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px  blue; /*faltou o valor alpha para testar*/
}


.p {
    color: white;
    text-align: center;
    height:100px;   
}

.list li{
    display: inline-flex;
    font-size: 20px;
    text-align: center;
    width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid white;
}

.titulo_blogs{
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px;

}